<!DOCTYPE html>
<html xlmns:th="http://www.thymleaf.org">
    <head>
        <title>Room Search - Dates</title>
    </head>
    <body>
        <h1>Step 4: Choose your Dates</h1>
        <p>When Would you Like Us to Plan your Visit!</p>
        <p>Saved city: <span th:text="${searchFilter.city} ?: 'Any'"></span></p>
        <p>Saved capacity: <span th:text="${searchFilter.capacity} ?: 'Any'"></span></p>
        <p>Saved minimum price: <span th:text="${searchFilter.minPrice} ?: 'Any'"></span></p>
        <p>Saved maximum price: <span th:text="${searchFilter.maxPrice} ?: 'Any'"></span></p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red; font-weight:bold;"></p>
        
        <form method="post" action="/quiz/dates">
            <label> Check in Date:</label>
            <input type="date" name="checkInDate" th:attr="min=${today}" required>
            <br><br>
            
            <label>Check out Date:</label>
            <input type="date" name="checkOutDate" th:attr="min=${today}" required>
            <br><br>

            <button type="submit">See Results</button>
        </form>

        <form method = "post" action="/quiz/dates/skip">
            <button type="submit">Skip</button>
        </form>
    </body>
</html>