<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Room Search</title>
    </head>
    <body>
        <h1> Search Available Rooms</h1>

        <form method="get" action="/search">
            <label>City:</label>
            <input type="text" name="city"><br><br>

            <label> Capacity:</label>
            <select name="capacity">
                <option value="">Any</option>
                <option value="Single">Single</option>
                <option value="Double">Double</option>
                <option value="Triple">Triple</option>
                <option value="Suite">Suite</option>
                <option value="Family">Family</option>
            </select><br><br>

            <label>Lowest Price:</label>
            <input type="number" name="minPrice" step="0.01"><br><br>

            <label>Highest Price:</label>
            <input type="number" name="maxPrice" step="0.01"><br><br>

            <button type="submit">Search</button>
        </form>

        <hr>

        <h2>Search Results</h2>

        <table border="1">
            <tr>
                <th>Room ID</th>
                <th>Hotel ID</th>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Price</th>
                <th>View Type</th>
                <th>Extendable</th>
            </tr>

            <tr th:each="room: ${rooms}">
                <td th:text = "${room.roomId}"></td>
                <td th:text = "${room.hotelId}"></td>
                <td th:text = "${room.roomNumber}"></td>
                <td th:text = "${room.capacity}"></td>
                <td th:text = "${room.price}"></td>
                <td th:text = "${room.viewType}"></td>
                <td th:text = "${room.extendable}"></td>
            </tr>
        </table>
    </body>
</html>